/* Esto es un comentario */

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');


/* SELECTOR UNIVERSAL */
* {
   color: red; 
   color: rgb(0, 0, 255);
   font-family: 'Tilt Warp', cursive;
   /*
    margin: 0;
    padding: 0;
    color: rgba(0, 100, 0, 0.3);
    color: #963232;
   */ 
}

/* SELECTOR DE ETIQUETA */
h1 {
    color: rgb(230, 0, 255);
}

li {
    color: orange;
}

main {
    height: 450px;
}

h2 {
    color: black;
    width: 50%;
}

/* SELECTOR DE ID (IDENTIFICADOR) */
#subtitulo2 {
    color:rgb(0, 0, 0);
}

/* SELECTOR DE CLASES */
.miClaseH2 {
    color: aquamarine;
    align-items: center;

}

.otraClaseH2 {
    color: brown;
}

/* SELECTOR COMBINADO 
.fondoClaseH2, .otroFondoClaseH2, #contacto {
    background-color: blueviolet;
}*/

header {
    display: flex; /*activa las propiedades flex-box*/
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: gainsboro;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}

/* SELECTOR DESCENDENTE */
header nav ul {
    list-style: none; /*elimina los puntos de la lista*/
    display: flex;
    flex-direction: row;
    gap: 75px;

}

main section div {
 border-block: solid black;
 writing-mode: horizontal-rl;
 color: black;
 background-color: lawngreen;
 width: 280px;
 height: 450px;
 justify-items: center;
 

 justify-content: space-around;
 border-radius: 20px;
 box-shadow: 5px 5px 15px black;


}

ul#miUL li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    align-items: center;

}

.miUL2  {
    list-style: none; /*elimina los puntos de la lista*/
    display: flex;
    flex-direction: row;
    gap: 75px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(157, 90, 128);
    align-items: center;

}


h1 {
    font-size: 40px;
    color: black;
    font-family: "Sono" cursive;
}
body p a {
    font-size: 40px;
    color: black;
    font-family: "Sono" cursive;
}

.divEjemplo {
    border: 1px rgb(255, 0, 0) solid;
    border: 1px blue dotted padding: 10px 5px; 
    margin: 50px; /* valor general */
    margin: 30px 80px; /* arriba/abajo - izquierda/derecha */
    margin: 10px 300px 80px 300px; /* arriba - derecha - abajo - izquierda */
    padding: 50px; /* valor general */
}

.linkBlock {
    display: block;
}

.divInline {
    display: inline;

}

#cuadro { 
    border: 1px blue dotted padding: 10px 5px; 

}
.material-symbols-outlined{
 list-style: none;
    display: flex;
    flex-direction: row;
    gap: 75px;


}



.probandoFlex1 {
    list-style: none;
    background-color: orange;
    with: 0%;
    height: 0%;
    display: flex;
    flex-direction: row;
    /*height: 30vh;*/
    flex-wrap: wrap ;
    margin: 50px  50px ; /* arriba - derecha - abajo - izquierda */
    justify-content: space-around;
    


}

.footer {
    
    background-color: lawngreen;
    display: flex;
    flex-direction: row;
    margin: 50px  50px ; /* arriba - derecha - abajo - izquierda */
    justify-content: space-around;
    color: black;

}