/* Esto es un comentario */

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
header {
    display: flex; /*activa las propiedades flex-box*/
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: gainsboro;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}

/* SELECTOR DESCENDENTE */
header nav ul {
    list-style: none; /*elimina los puntos de la lista*/
    display: flex;
    flex-direction: row;
    gap: 75px;

}

main {
    height: 450px;
}
main section div {
 border-block: 1px solid black;
 writing-mode: horizontal-rl;
 color: black;
 background-color: lawngreen;
 width: 280px;
 height: 450px;
 justify-items: center;
 justify-content: space-around;
 border-radius: 20px;
 box-shadow: 5px 5px 15px black;


}

ul#miUL li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    align-items: center;
    font-family: "Sono" cursive;
}

 /* .miUL2  {
    list-style: none; 
    display: flex;
    flex-direction: row;
    gap: 75px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(157, 90, 128);
    align-items: center;
 } */



h1 {
    font-size: 40px;
    color: black;
    font-family: "Sono" cursive;
}
body p a {
    font-size: 40px;
    color: black;
    font-family: "Sono" cursive;
}


.linkBlock {
    display: block;
}

.divInline {
    display: inline;

}

/* /*#cuadro { 
    border: 1px blue dotted padding: 10px 5px; 

}*/
/* .material-symbols-outlined{
 list-style: none;
    display: flex;
    flex-direction: row;
    gap: 75px;


} */



 /* .probandoFlex1 {
    list-style: none;
    background-color: orange;
    width: 0%;
    height: 0%;
    display: flex;
    flex-direction: row;
    height: 30vh;
    flex-wrap: wrap ;
    margin: 50px  50px ; 
    justify-content: space-around;
  

}  */

.footer {
    
    background-color: lawngreen;
    display: flex;
    flex-direction: row;
    margin: 0px  0px 10px ; /* arriba - derecha - abajo - izquierda */
    justify-content: space-around;
    color: black;
    position:absolute;
    bottom: 0;
    width: 99%;
}
/*Agrego estilo al home 1/4... elisa*/
body {
    background-color: rgb(109, 175, 44);
}
main img {
    padding: 15px;
    box-shadow: 5px 5px 15px black;
    width: 98%;
    height: 140%;
    border-radius: 20px;
    display: flex;    
    justify-content: space-between;

}

