.retroceso {
    display: flex;  
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 15%;
  }
   

  .center {
    margin: auto;
    margin-top: 50px;
  }
  #buscadorlibro {
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
  }
  h3 {
    font-family: 'Righteous', sans-serif;  
  }
  .book-list {
    margin-top: 50px;
    visibility: hidden;  /* hace que solo sea visible cuando se realizala busqueda*/
    margin-left:200px;
    margin-right:200px;
  }
  .footer {  
    font-family: "Montserrat";    
    background-color: rgb(197, 195, 195);
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;  
  } 